// font-family: 'MedievalSharp', cursive;
// font-family: 'UnifrakturCook', cursive;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "MedievalSharp", cursive;
  --colors-bg: rgba(8, 8, 8, 0.85);
  --colors-side-active: rgba(0, 0, 0, 1);
  --colors-text: #fff;
  --text-hover-shadow: 1px 2px 7px rgb(93, 187, 194);
  --box-hover-shadow: 1px 1px 2px 3px rgb(151, 151, 151);
  color: var(--colors-text);

  background-color: #012b38;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.UnifrakturCook-family {
  font-family: "UnifrakturCook", cursive;
}

.fz-15 {
  font-size: 1.5rem;
}

.find__charcard {
  transition: text-shadow 0.1s ease, box-shadow 0.5s ease;
}

.text-hover-shadow:hover {
  text-shadow: var(--text-hover-shadow);
}

.box-shadow-hover:hover {
  box-shadow: var(--box-hover-shadow);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}
footer {
  margin-top: auto;
}
.bg-got {
  height: 100%;
  // background-color: #002431;
  /* background-image: url("https://www.transparenttextures.com/patterns/fabric-1-light.png"); */
  // background-image: url('../src/assets/images/bg-got.jpg');
}
// @media (min-width: 1550px) {
//   .bg-got {
//     height: 100vh;
//   }
// }
// header {
//   height: 50px;
//   position: fixed;
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;

//   min-height: 100vh;

//   overflow: hidden;
// }

// footer {
//   height: 50px;
//   margin-top: auto;
// }

// .col-2 img {
//   width: 100%;
// }

.col-2 {
  padding: 0;
}

.card-custom {
  height: 100%;
  width: 100%;
  -moz-transition: -moz-background 0.1s ease-in-out;
  transition: background 0.34s ease-in-out;
  overflow: hidden;
  display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  cursor: pointer;
  h2 {
    text-align: center;
    margin-top: auto;
    color: #fff;
    font-size: 1rem;
    font-family: "MedievalSharp", cursive;
    padding: 2px;
    transition: "background .7s ease-in-out, opacity .7s ease-in-out";
    opacity: 0;
    border-radius: "5%";
  }

  &:hover {
    h2 {
      opacity: 1;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

// .card-custom0 {
//   background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') center center no-repeat;
//   background-size: 300px;

//   &:hover {
//     background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') left center no-repeat;
//     background-size: 600px
//   }
// }

.card-wrapper {
  height: 386px;
  width: 100%;
  // background: url('../src/assets/images/got.jpg') center center no-repeat;
  background-size: 300px;
}

@keyframes mymove {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}

/* The element to apply the animation to */
.tar-logo {
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 100px;
  height: 100px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: mymove 60s linear infinite;
  opacity: 0.8;
  transition: opacity 0.5s;
}

@media (min-width: 768px) {
  .tar-logo {
    width: 120px;
    height: 120px;
  }
}

.tar-logo:hover {
  opacity: 1;
}
.smooth-border {
  // box-shadow: inset 0 0 25px rgba(101, 114, 126, 50), inset 0 0 25px rgba(140, 150, 170, 50), inset 0 0 25px rgb(83, 94, 104), inset 0 0 25px rgb(86, 96, 106);
  // box-shadow: #002130 0 0 300px 50px, #002130 0 0 15px, inset #002130 0 0 100px;
  // border-radius: 30px;
  // box-shadow: 0 1px 50px  #005f6421;
}

.container-got {
  max-width: 350px;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.col-got {
  width: 100%;
}

@media (min-width: 576px) {
  .container-got {
    max-width: 576px;
  }
  .col-got {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .container-got {
    max-width: 768px;
  }
  .col-got {
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .container-got {
    max-width: 1050px;
  }
  .col-got {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .container-got {
    max-width: 1145px;
  }
  .col-got {
    width: 25%;
  }
}
@media (min-width: 1650px) {
  .container-got {
    max-width: 1740px;
  }
  .col-got {
    width: 16.66666666666666666666666%;
  }
}
.blured-edge {
  // box-shadow: inset 0 0 25px rgba(101, 114, 126, 50), inset 0 0 25px rgba(140, 150, 170, 50), inset 0 0 25px rgb(83, 94, 104), inset 0 0 25px rgb(86, 96, 106);
}
.got__block {
  margin: 0 auto;
  // min-height: 80vh;
  background: var(--colors-bg);
  max-width: 100vw;
  padding: 1rem;
  border-radius: 5px;
}
@media screen and (min-width: 576px) {
  .got__block {
    max-width: 65vw;
  }
}

img {
  width: 100%;
  height: auto;
}

.page-item.active .page-link {
  background: #212529;
  border: 1px solid #212529;
}
.page-item .page-link {
  color: #212529;
}

.fz-07 {
  font-size: 0.7em;
}

.got-title {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(1, 102, 102));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 2px 2px rgb(0, 5, 5);
}

.overflow-hidden {
  overflow: hidden;
}